/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 10, 10, 10;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
    overflow-x: hidden;
  }

  /* Hide scrollbar during loading */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #111;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ff0000, #990000);
    border-radius: 5px;
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-border {
    border: double 2px transparent;
    border-radius: 12px;
    background-image: linear-gradient(black, black), 
                      linear-gradient(to right, #ff0000, #990000);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}